name: CI

on: [push, pull_request]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        go:
          - '1.7'  # minimum version that macos-latest supports
          - '1.10' # last version that doesn't support go modules
          - '1.11' # first version that supports go modules
          - '1.x'  # latest version
    runs-on: ${{ matrix.os }}

    steps:
      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - run: go version
      - name: Set up GOPATH
        run: |
          echo "::set-env name=GOPATH::${{ github.workspace }}"
          echo "::add-path::${{ github.workspace }}/bin"

      - uses: actions/checkout@v2
        with:
          path: src/github.com/mattn/goveralls
      - name: build
        run: |
          go get ./...
          go install .
        working-directory: src/github.com/mattn/goveralls
      - name: test
        run: goveralls -service=github -parallel -flagname="Unit-${{ matrix.os }}-Go-${{ matrix.go }}"
        working-directory: src/github.com/mattn/goveralls
        env:
          COVERALLS_TOKEN: ${{ github.token }}

  finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.x'
      - uses: actions/checkout@v2
      - name: finish
        run: |
          go run github.com/mattn/goveralls -parallel-finish
        env:
          COVERALLS_TOKEN: ${{ github.token }}
